{%extends 'main.html'%}
{%block data%}
<style>
    body{
        padding: 15% 0px 0px 30% ;
    }
    h2{
        display: inline;
        margin-left: 20px;
    }
    a{
        width: 200px;
        
    }
</style>
<div class="container body">
    <div class="row">
        <div class="col-md-12">
            <h2><a href="register" class="btn btn-primary">Register</a></h2>
            <h2><a href="login" class="btn btn-primary">Login</a></h2>
        </div>
    </div>
</div>


{%endblock%}    
